In [2]:
import pandas as pd
#import matplotlib
from plotnine import *

In [3]:
df = pd.read_csv("../teste_dados_ecommerce.csv", sep=";",encoding= 'unicode_escape', dtype={'InvoiceNo': 'object','StoreId': 'object'} )
df.head()

,InvoiceNo,StoreId,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,11,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/10 08:26,2.55,17850.0,United Kingdom
1,536365,9,71053,WHITE METAL LANTERN,6,12/01/10 08:26,3.39,17850.0,United Kingdom
2,536365,17,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/10 08:26,2.75,17850.0,United Kingdom
3,536365,15,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/10 08:26,3.39,17850.0,United Kingdom
4,536365,17,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/10 08:26,3.39,17850.0,United Kingdom

In [4]:
df["PurchaseValue"] = df["Quantity"] * df["UnitPrice"]
pinkColors = ["#FA3C8A", "#000000", "#370117", "#6E022F", "#A50446", "#DD055E", "#F9217A", "#FA599B", "#FC90BC", "#FDC7DD"]

In [5]:
# Insight 1: 10 lojas com os maiores faturamentos em pedidos
# Insight 1.1: Volume total de items de venda para as 10 lojas com maior faturamento em pedidos
insight1 = df
insight1 = insight1.loc[
    insight1['PurchaseValue'] > 0,
    ('StoreId','Quantity','PurchaseValue')].groupby('StoreId', as_index=False)[
            'Quantity',
            'PurchaseValue'
        ].sum().sort_values(by="PurchaseValue", ascending=False).head(10)
insight1

C:\Users\Mateus\AppData\Local\Temp\ipykernel_26988\4210267267.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

   StoreId  Quantity  PurchaseValue
8       17    351969     692392.120
14       4    359687     648217.880
4       13    277927     548195.710
7       16    264426     536429.950
0        1    269760     525055.821
11       2    268378     523368.440
13       3    267364     522640.490
19       9    278195     521955.310
15       5    266774     521898.120
6       15    276156     521226.120

In [6]:
plotInsight1 = ggplot(insight1, aes(
        x='reorder(StoreId, -PurchaseValue)', 
        y='PurchaseValue',
        fill = 'StoreId')
    ) + geom_bar(
        stat='identity'
    ) + scale_fill_manual(
        values = pinkColors,
        guide=False
    ) + theme_minimal(
    ) + theme( plot_title = element_text(hjust = 0.5, size = 24),
        axis_text_y = element_text(size = 20, hjust = 1), 
        panel_background = element_rect(fill = 'grey'),
    ) + labs(
        title="Insight 1: 10 lojas com os maiores faturamentos em pedidos",
        x ="StoreId", 
        y = "PurchaseValue"
    )

C:\Users\Mateus\AppData\Roaming\Python\Python310\site-packages\plotnine\scales\scale.py:102: PlotnineWarning: scale_fill_manual could not recognise parameter `rect`

In [7]:
plotInsight1_1 =  ggplot(
        insight1, aes(
            x =  'reorder(StoreId, PurchaseValue)', 
            y = 'Quantity',fill = 'StoreId')
        ) + geom_bar(
            stat= "identity"
        ) + coord_flip(
        ) + theme_minimal(
        ) + scale_fill_manual(
            guide=False,
            values = pinkColors
        )+ theme( 
            
            panel_background = element_rect(fill = 'grey')
        ) + labs(
            title="Insight 1.1: Volume total de items de venda para as 10 lojas com maior faturamento em pedidos \n ordenado por maior faturamento",
            x ="StoreId", 
            y = "sumQuantity",
            fill="none"
        )

In [8]:
plotInsight1.save(filename = 'Insight1.jpeg', height=25, width=30, units = 'cm')
plotInsight1_1.save(filename = 'Insight1.1.jpeg', height=25, width=30, units = 'cm')

C:\Users\Mateus\AppData\Roaming\Python\Python310\site-packages\plotnine\ggplot.py:719: PlotnineWarning: Saving 30.0 x 25.0 cm image.
C:\Users\Mateus\AppData\Roaming\Python\Python310\site-packages\plotnine\ggplot.py:722: PlotnineWarning: Filename: Insight1.jpeg
C:\Users\Mateus\AppData\Roaming\Python\Python310\site-packages\plotnine\ggplot.py:719: PlotnineWarning: Saving 30.0 x 25.0 cm image.
C:\Users\Mateus\AppData\Roaming\Python\Python310\site-packages\plotnine\ggplot.py:722: PlotnineWarning: Filename: Insight1.1.jpeg