In [242]:
#install.packages("tidyverse")
#install.packages("anytime")
#install.packages("maps")
#install.packages("scales")

In [243]:
library(tidyverse) 
library(lubridate)
library(anytime)
library(maps)
library(scales)

In [244]:
# Cores para os plots
pinkColors <- c("#FA3C8A", "#000000", "#370117", "#6E022F", "#A50446", "#DD055E", "#F9217A", "#FA599B", "#FC90BC", "#FDC7DD")

In [245]:
df <- read.csv2("../teste_dados_ecommerce.csv")

In [246]:
head(df)

  InvoiceNo StoreId StockCode Description                         Quantity
1 536365    11      85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365     9      71053     WHITE METAL LANTERN                 6
3 536365    17      84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    15      84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    17      84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365     2      22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/01/10 08:26 2.55      17850      United Kingdom
2 12/01/10 08:26 3.39      17850      United Kingdom
3 12/01/10 08:26 2.75      17850      United Kingdom
4 12/01/10 08:26 3.39      17850      United Kingdom
5 12/01/10 08:26 3.39      17850      United Kingdom
6 12/01/10 08:26 7.65      17850      United Kingdom

In [247]:
df$UnitPrice <- as.numeric(df$UnitPrice)
df$StoreId <- as.character(df$StoreId)
# Existem 2 tipos de máscaras diferentes nos dados de datas, deixei de usar o as.POSIXct para usar o parse_date_time.
df$InvoiceDate <- parse_date_time(df$InvoiceDate, orders = c('mdy HM', 'mdY HM'))

df <- df  %>% mutate(PurchaseValue = Quantity * UnitPrice)

In [248]:
head(df)

  InvoiceNo StoreId StockCode Description                         Quantity
1 536365    11      85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    9       71053     WHITE METAL LANTERN                 6
3 536365    17      84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    15      84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    17      84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    2       22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate         UnitPrice CustomerID Country        PurchaseValue
1 2010-12-01 08:26:00 2.55      17850      United Kingdom 15.30
2 2010-12-01 08:26:00 3.39      17850      United Kingdom 20.34
3 2010-12-01 08:26:00 2.75      17850      United Kingdom 22.00
4 2010-12-01 08:26:00 3.39      17850      United Kingdom 20.34
5 2010-12-01 08:26:00 3.39      17850      United Kingdom 20.34
6 2010-12-01 08:26:00 7.65      17850      United Kingdom 15.30

In [249]:
df  %>% select(Description, Quantity,PurchaseValue ) %>%  arrange(PurchaseValue)%>% distinct(Description)  %>% head()
# Como existem valores em Quantity negativos e com descrições do tipo "AMAZON FEE", "POSTAGE", etc. Pode-se subenteder que os valores negativos representam 
# Perdas ou despesas. Para calcular o valor das lojas que tem o maior faturamento não será necessário levar em consideração esses valores negativos, porém para 
# calcular os lucros de cada loja será preciso fazer a conta lucro = Faturamento - Despesas. Para todos os efeitos estou usando um filtro onde  PurchaseValue > 0 para evitar problemas
# em summarizes

  Description
1 PAPER CRAFT , LITTLE BIRDIE
2 MEDIUM CERAMIC TOP STORAGE JAR
3 Manual
4 AMAZON FEE
5 Adjust bad debt
6 POSTAGE

In [250]:
# Optei por retirar da análise esses valores que aparentam não serem operações de compra.
df <- df  %>% filter(!StockCode %in% c("S","M", "m", "POST", "DOT", "BANK CHARGES", "AMAZONFEE", "B", "C2"))

In [251]:
# Insight 1: 10 lojas com os maiores faturamentos em pedidos
# Insight 1.1: Volume total de items de venda para as 10 lojas com maior faturamento em pedidos
insight1 <- df  %>% 
    select(StoreId, Quantity, PurchaseValue )  %>% 
    filter( PurchaseValue > 0) %>%  
    group_by(StoreId)  %>%
    summarise(sumQuantity = sum(Quantity), sumPurchaseValue = sum(PurchaseValue))  %>%  
    arrange(desc(sumPurchaseValue))  %>%
    head(10)
insight1

   StoreId sumQuantity sumPurchaseValue
1  17      351747      675923.9
2  4       359441      633415.7
3  13      276017      516043.0
4  3       267048      509737.9
5  1       269494      508641.1
6  9       277164      504821.3
7  5       266498      504570.6
8  2       268052      502800.7
9  10      267934      498952.6
10 15      275875      498805.8

In [252]:
plotInsight1 <- insight1  %>% 
    ggplot(aes(x =  reorder(StoreId, sumPurchaseValue), y = sumPurchaseValue,fill = StoreId)) + 
    geom_bar(stat= "identity") +  
    geom_text(aes(label = label_number_si(accuracy=0.01, )(sumPurchaseValue)), hjust = -0.3,fill = "white", label.size = 0)+
    coord_flip()+ 
    theme_minimal()+ 
    scale_fill_manual(values = pinkColors)+
    theme(  plot.title = element_text(hjust = 0.5, size = 24),axis.text.y = element_text(size = 20, hjust = 1), axis.ticks.x = element_blank(), axis.text.x = element_blank(),panel.background = element_rect(fill = 'grey'),) +
    labs(title="Insight 1: 10 lojas com os maiores faturamentos em pedidos",x ="StoreId", y = "PurchaseValue",fill="none") +
    guides(fill="none")

Warning message:
"Ignoring unknown parameters: fill, label.size"

In [253]:
plotInsight1.1 <- insight1 %>% ggplot(aes(x =  reorder(StoreId, sumPurchaseValue), y = sumQuantity,fill = StoreId)) +
    geom_bar(stat= "identity") +
    geom_text(aes(label = label_number_si(accuracy=0.01, )(sumQuantity)), hjust = -0.3,fill = "white", label.size = 0)+
    coord_flip()+ 
    theme_minimal()+ 
    scale_fill_manual(values = pinkColors)+
    theme( plot.title = element_text(hjust = 0.5, size = 24), axis.text.y = element_text(size = 20, hjust = 1),  axis.ticks.x = element_blank(), axis.text.x = element_blank(), panel.background = element_rect(fill = 'grey'),) +
    labs(title="Insight 1.1: Volume total de items de venda para as 10 lojas com maior faturamento em pedidos \n ordenado por maior faturamento",x ="StoreId", y = "sumQuantity",fill="none") +
    guides(fill="none")

Warning message:
"Ignoring unknown parameters: fill, label.size"

In [254]:
insight2 <- df %>% 
    select(CustomerID,InvoiceDate,  PurchaseValue) %>% 
    filter(PurchaseValue > 0, !is.na(CustomerID)) %>% 
    group_by(CustomerID, monthYear = floor_date(InvoiceDate, "month"))  %>% 
    summarise(PurchaseValue = sum(PurchaseValue)) %>% 
    arrange(monthYear)
    
insight2$monthYear <- format(insight2$monthYear, "%b/%Y")

head(insight2)

`summarise()` has grouped output by 'CustomerID'. You can override using the
`.groups` argument.

  CustomerID monthYear PurchaseValue
1 12347      dez/2010   711.79
2 12348      dez/2010   652.80
3 12370      dez/2010  1748.02
4 12377      dez/2010  1001.52
5 12383      dez/2010   555.72
6 12386      dez/2010   258.90

In [255]:
# Quantidade de clientes
insight2  %>% select(CustomerID)  %>% distinct()  %>% nrow()

[1] 4334

In [256]:
# Divisão da soma do valor total de faturamento do mês pelo número total de clientes (4334) para chegar no Ticket médio mensal
# Insight 2: Ticket médio mensal dos pedidos
insight2 <- insight2   %>% 
    select(monthYear, PurchaseValue)  %>% 
    group_by(monthYear = factor(monthYear, levels = unique(monthYear)))  %>% 
    summarise(PurchaseValue = round(sum(PurchaseValue)/4334, 2))
insight2

Adding missing grouping variables: `CustomerID`

   monthYear PurchaseValue
1  dez/2010  130.94
2  jan/2011  130.14
3  fev/2011  102.29
4  mar/2011  134.88
5  abr/2011  105.05
6  mai/2011  152.40
7  jun/2011  151.00
8  jul/2011  136.76
9  ago/2011  146.93
10 set/2011  217.10
11 out/2011  232.04
12 nov/2011  263.53
13 dez/2011  118.42

In [257]:
plotInsight2 <- insight2  %>% ggplot(aes(x= monthYear, y = PurchaseValue, group = 1)) +
    geom_line(color="#fb3d8a",size=1.2) +
    geom_point(color="#fb3d8a",size=2) +
    geom_text(aes(label = PurchaseValue), nudge_y = 7) +
    theme_minimal() +
    labs(title="Insight 2: Ticket médio mensal dos pedidos")+
    theme( plot.title = element_text(hjust = 0.5, size = 24),axis.text.y = element_text(size = 20, hjust = 1), axis.text.x = element_text(angle = 15, size = 20, hjust = 1),panel.background = element_rect(fill = 'grey'),)

In [258]:
 # Como existem faturas que não constam número de clientes, para responder o volume médio mensal de vendas de todas as lojas optei por fazer 2 pesquisas:
 
 # Uma pesquisa não levando em consideração as faturas que não estão relacionadas a clientes:
 insight2.1Customer <- df %>% 
    select(CustomerID,InvoiceDate,  PurchaseValue) %>% 
    filter(PurchaseValue > 0, !is.na(CustomerID)) %>% 
    group_by(CustomerID, monthYear = floor_date(InvoiceDate, "month"))  %>% 
    summarise(PurchaseValue = sum(PurchaseValue)) %>% 
    arrange(monthYear)
insight2.1Customer$monthYear <- format(insight2.1Customer$monthYear, "%b/%Y")

# E uma pesquisa levando em consideração todos os valores, inclusive as faturas que não estão relacionadas a um cliente:
insight2.1NoCustomer <- df %>% 
    select(CustomerID,InvoiceDate,  PurchaseValue) %>% 
    filter(PurchaseValue > 0) %>% 
    group_by(CustomerID, monthYear = floor_date(InvoiceDate, "month"))  %>% 
    summarise(PurchaseValue = sum(PurchaseValue)) %>% 
    arrange(monthYear)
insight2.1NoCustomer$monthYear <- format(insight2.1NoCustomer$monthYear, "%b/%Y")

`summarise()` has grouped output by 'CustomerID'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'CustomerID'. You can override using the
`.groups` argument.

In [259]:
insight2.1Customer <- insight2.1Customer  %>% 
    select(monthYear, PurchaseValue)  %>% 
    group_by(monthYear = factor(monthYear, levels = unique(monthYear)))  %>% 
    summarise(PurchaseValue = round(sum(PurchaseValue), 2))

# Para a primeira análise temos R$ 673.928,20 de volume médio mensal de vendas.
insight2.1Customer %>% select(PurchaseValue)  %>% summarise(mean(PurchaseValue))

insight2.1NoCustomer <- insight2.1NoCustomer  %>% 
    select(monthYear, PurchaseValue)  %>% 
    group_by(monthYear = factor(monthYear, levels = unique(monthYear)))  %>% 
    summarise(PurchaseValue = round(sum(PurchaseValue), 2))

# Para a segunda análise temos R$ 790.163 de volume médio mensal de vendas.
insight2.1NoCustomer %>% select(PurchaseValue)  %>% summarise(mean(PurchaseValue))

Adding missing grouping variables: `CustomerID`

  mean(PurchaseValue)
1 673928.2

Adding missing grouping variables: `CustomerID`

  mean(PurchaseValue)
1 790163

In [260]:
# Insight 3: Países com os maiores números de vendas.
insight3 <- df %>% select(Country,PurchaseValue)  %>% 
    filter( PurchaseValue > 0) %>% 
    group_by(Country) %>% 
    summarise(PurchaseValue = sum(PurchaseValue)) %>% 
    arrange(desc(PurchaseValue))

# Pequena mudança manual para plotar no mapa mundi.
insight3$Country[insight3$Country == "United Kingdom"] <- "UK"
insight3

   Country              PurchaseValue
1  UK                   8748247.47
2  Netherlands           283889.34
3  EIRE                  271164.30
4  Germany               205569.89
5  France                184582.74
6  Australia             138171.31
7  Spain                  55725.11
8  Switzerland            53087.90
9  Japan                  37416.37
10 Belgium                36927.34
11 Sweden                 36839.33
12 Norway                 32454.64
13 Portugal               27015.16
14 Channel Islands        20007.44
15 Finland                18344.88
16 Denmark                18211.34
17 Italy                  15820.24
18 Cyprus                 13254.69
19 Hong Kong               9952.99
20 Singapore               9120.39
21 Austria                 8742.68
22 Israel                  8135.26
23 Poland                  6974.65
24 Unspecified             4749.79
25 Greece                  4425.52
26 Iceland                 4310.00
27 USA                     3580.39
28 Canada                  3115.44
29 Malta                   2070.59
30 United Arab Emirates    1864.78
31 Lebanon                 1693.88
32 Lithuania               1661.06
33 European Community      1159.25
34 Brazil                  1143.60
35 RSA                     1002.31
36 Czech Republic           786.74
37 Bahrain                  754.14
38 Saudi Arabia             145.92

In [261]:
world_map <- map_data("world")
world_map <- subset(world_map, region != "Antarctica")
# HeatMap dos países com os maiores números de vendas.
plotInsight3 <- ggplot(data = insight3) +
  geom_map(dat = world_map, map = world_map, aes(map_id = region),fill = "grey", color = "#7f7f7f", size = 0.1) +
  geom_map(map = world_map, aes(map_id = Country, fill = PurchaseValue), size = 0.25, color = "#7f7f7f") +
  scale_fill_gradient(low = "#ffffff", high = "#FA3C8A",trans = "log") +
  coord_fixed(1.3) +
  expand_limits(x = world_map$long, y = world_map$lat)+
  theme(plot.title = element_text(hjust = 0.5, size = 24),axis.ticks.x = element_blank(),axis.text.x = element_blank(), axis.ticks.y = element_blank(),axis.text.y = element_blank())+
  labs(title="Insight 3: HeatMap dos países com maior volume de vendas",)

In [262]:
# Insight 3.1: Relação de produtos mais vendidos dentro do país com maior volume de vendas (Reino Unido).
insight3.1 <- df %>% select(StockCode, Description,PurchaseValue, Country,Quantity)  %>% 
    filter( PurchaseValue > 0, Country == "United Kingdom") %>% 
    group_by(StockCode, Description, Country) %>% 
    summarise(PurchaseValue = sum(PurchaseValue), Quantity = sum(Quantity)) %>% 
    arrange(desc(PurchaseValue))  %>% 
    head(10)
insight3.1

`summarise()` has grouped output by 'StockCode', 'Description'. You can
override using the `.groups` argument.

   StockCode Description                        Country        PurchaseValue
1  23843     PAPER CRAFT , LITTLE BIRDIE        United Kingdom 168469.60
2  22423     REGENCY CAKESTAND 3 TIER           United Kingdom 142273.29
3  85123A    WHITE HANGING HEART T-LIGHT HOLDER United Kingdom  98545.24
4  47566     PARTY BUNTING                      United Kingdom  93658.53
5  85099B    JUMBO BAG RED RETROSPOT            United Kingdom  86471.34
6  23166     MEDIUM CERAMIC TOP STORAGE JAR     United Kingdom  80575.63
7  22086     PAPER CHAIN KIT 50'S CHRISTMAS     United Kingdom  62742.54
8  84879     ASSORTED COLOUR BIRD ORNAMENT      United Kingdom  54756.79
9  79321     CHILLI LIGHTS                      United Kingdom  53336.56
10 22502     PICNIC BASKET WICKER 60 PIECES     United Kingdom  39619.50
   Quantity
1  80995
2  11068
3  35448
4  16973
5  44264
6  77036
7  18530
8  33735
9  10154
10    61

In [263]:
plotInsight3.1 <- ggplot(data = insight3.1, aes(x = reorder(Description, -PurchaseValue), y = PurchaseValue, fill = Description))+
    geom_bar(stat='identity')+
    theme( plot.title = element_text(hjust = 0.5, size = 24),axis.text.y = element_text(size = 20, hjust = 1), , axis.text.x = element_text(angle = 80, size = 20, hjust = 1),panel.background = element_rect(fill = 'grey'),) +
    scale_fill_manual(values = pinkColors)+
    labs(title="Insight 3.1: Os 10 Items mais vendidos no Reino Unido ",x ="Description", y = "PurchaseValue",fill="none") +
    guides(fill="none")

In [264]:

# Insight 3.2: Relação de produtos que tiveram os menores valores de compra dentro do país com maior volume de vendas (Reino Unido).

insight3.2 <- df %>% select(StockCode, Description,PurchaseValue, Country,Quantity)  %>% 
    filter( PurchaseValue > 0, Country == "United Kingdom") %>% 
    group_by(StockCode, Description,Country) %>% 
    summarise(PurchaseValue = sum(PurchaseValue), Quantity = sum(Quantity)) %>% 
    arrange(PurchaseValue) %>% 
    head(10)
insight3.2

`summarise()` has grouped output by 'StockCode', 'Description'. You can
override using the `.groups` argument.

   StockCode Description                         Country        PurchaseValue
1  PADS      PADS TO MATCH ALL CUSHIONS          United Kingdom 0.003
2  84227     HEN HOUSE W CHICK IN NEST           United Kingdom 0.420
3  51014c    FEATHER PEN,COAL BLACK              United Kingdom 0.830
4  21268     VINTAGE BLUE TINSEL REEL            United Kingdom 0.840
5  90084     PINK CRYSTAL GUITAR PHONE CHARM     United Kingdom 0.850
6  84201C    HAPPY BIRTHDAY CARD TEDDY/CAKE      United Kingdom 0.950
7  84206B    CAT WITH SUNGLASSES BLANK CARD      United Kingdom 0.950
8  84990     60 GOLD AND SILVER FAIRY CAKE CASES United Kingdom 1.100
9  21009     ETCHED GLASS STAR TREE DECORATION   United Kingdom 1.250
10 35597A    DUSTY PINK CHRISTMAS TREE 30CM      United Kingdom 1.250
   Quantity
1  3
2  1
3  1
4  2
5  1
6  5
7  5
8  2
9  1
10 1

In [265]:
plotInsight3.2 <- ggplot(data = insight3.2, aes(x = reorder(Description, PurchaseValue), y = PurchaseValue, fill = Description))+
    geom_bar(stat='identity')+
    theme( plot.title = element_text(hjust = 0.5, size = 24),axis.text.y = element_text(size = 20, hjust = 1), , axis.text.x = element_text(angle = 80, size = 20, hjust = 1),panel.background = element_rect(fill = 'grey'),) +
    scale_fill_manual(values = pinkColors)+
    labs(title="Insight 3.2: Os 10 Items com menor valor de compra no Reino Unido ",x ="Description", y = "PurchaseValue",fill="none") +
    guides(fill="none")

In [266]:
# Insight 3.3: Relação dos produtos menos comprados (Quantidade) dentro do país com maior volume de vendas (Reino Unido).
# OBS: Existem cerca de 86 produtos que só venderam 1 unidade.
insight3.3 <- df %>% select(StockCode, Description,PurchaseValue, Country,Quantity)  %>% 
    filter( PurchaseValue > 0, Country == "United Kingdom") %>% 
    group_by(StockCode, Description,Country) %>% 
    summarise(PurchaseValue = sum(PurchaseValue), Quantity = sum(Quantity)) %>% 
    arrange(Quantity)  %>% 
    head(10)
insight3.3

`summarise()` has grouped output by 'StockCode', 'Description'. You can
override using the `.groups` argument.

   StockCode Description                       Country        PurchaseValue
1  20703     BLUE PADDED SOFT MOBILE           United Kingdom  4.25
2  20860     GOLD COSMETICS BAG WITH BUTTERFLY United Kingdom  2.10
3  21009     ETCHED GLASS STAR TREE DECORATION United Kingdom  1.25
4  21120     *Boombox Ipod Classic             United Kingdom 16.98
5  21160     KEEP OUT GIRLS DOOR HANGER        United Kingdom  3.36
6  21310     CAPIZ CHANDELIER                  United Kingdom 29.95
7  21410     COUNTRY COTTAGE  DOORSTOP GREEN   United Kingdom  8.47
8  21414     SCALLOP SHELL SOAP DISH           United Kingdom  2.10
9  21491     SET OF THREE VINTAGE GIFT WRAPS   United Kingdom  1.95
10 21839     MUMMY MOUSE RED GINGHAM RIBBON    United Kingdom  5.45
   Quantity
1  1
2  1
3  1
4  1
5  1
6  1
7  1
8  1
9  1
10 1

In [267]:
# Plot dos Insights em jpeg
jpeg(file = "insight1.jpeg", width=1280, height=720)
plotInsight1
dev.off()

jpeg(file = "insight1.1.jpeg", width=1280, height=720)
plotInsight1.1
dev.off()

jpeg(file = "insight2.jpeg", width=1280, height=720)
plotInsight2
dev.off()

jpeg(file = "insight3_map.jpeg", width=1280, height=720)
plotInsight3
dev.off()

jpeg(file = "insight3.1.jpeg", width=1280, height=900)
plotInsight3.1
dev.off()

jpeg(file = "insight3.2.jpeg", width=1280, height=900)
plotInsight3.2
dev.off()

# Salvando as alterações para serem usadas futuramente
write.csv(df,"../teste_dados_ecommerce_tratado.csv", row.names = FALSE)

png
  2

png
  2

png
  2

png
  2

png
  2

png
  2